@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

:root {
	--safe-top: env(safe-area-inset-top);
	--safe-bottom: env(safe-area-inset-bottom);
}

body {
	padding-top: var(--safe-top);
	padding-bottom: var(--safe-bottom);
	overscroll-behavior-y: none;
}
